/* Project Section */
.page-container {
  padding-bottom: 1rem;

  border-radius: 1em;
}

section {
  margin-bottom: 2.5rem;
  margin-top: 4rem;

  border-radius: 20px;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  box-shadow:
    var(--sweet-perfume-super-duper-trans) 6px -6px 100px,
    var(--sweet-perfume-super-duper-trans) -6px 6px 100px;
}
section:first-of-type {
  margin-top: 1rem;
}
.section-header {
  padding: 1.2rem 1.4rem;
  background: var(--infinity-trans);

  color: var(--creamy-berry);
  text-align: center;
  font-family: "Lexend Giga", sans-serif;
  font-size: 1.8rem;
  font-weight: 800;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  border: 0.01em solid var(--voila);
  /* border-bottom: 0.1em solid var(--voila); */
}

.minor-header {
  padding: 1.2rem 0.4rem 0.8rem 3.5rem;
  background: var(--shuriken);

  border-left: 0.01em solid var(--voila);
  border-right: 0.01em solid var(--voila);

  font-size: 1.4rem;
  color: var(--moonraker);
  font-family: "Proza Libre", sans-serif;
}
h4 {
  padding-bottom: 0.6rem;
  padding-top: 0.8rem;
}

.description-container {
  display: flex;
  flex-direction: column;
  background: var(--infinity-trans);
  border: 0.01em solid var(--voila);
  border-top: none;

  justify-content: center;
  align-items: center;
}
.description {
  padding: 2rem 0rem;

  color: var(--peekaboo);
  font-size: 1.25rem;
  line-height: 1.6rem;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;

  max-width: 65ch;
}
.bold,
b {
  color: var(--sweet-perfume);
}
.p-cont,
.p-first {
  padding-top: 0rem;
}

.last {
  padding-top: 0rem;
  padding-bottom: 3rem;
}
.follow {
  padding-left: 0.5em;

  font-size: 1.25rem;
  line-height: 1.6rem;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  color: var(--sweet-perfume);
}
.follow:hover {
  color: var(--happy-hearts);
}

/* Image Grid */
.list {
  padding: 0.5rem;
  background: var(--creamy-berry-super-trans);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: space-evenly;
  align-content: space-between;
  gap: 0.5rem;

  border: 0.01em solid var(--voila);
  border-top: none;
  padding: 2em;
}
.bottom-box {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;

  border-bottom: 0.01em solid var(--voila);
}

.item {
  display: flex;
  flex-direction: column;
  border-radius: 4%;
  justify-content: space-between;
}

.img-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;

  border-radius: 4%;
  box-shadow:
    var(--sweet-perfume-super-duper-trans) -0.04em -0.04em 3em,
    var(--sweet-perfume-super-duper-trans) 0.04em 0.04em 3em;
}
.img-container:hover {
  cursor: zoom-in;

  box-shadow:
    var(--infinity-trans) -0.2em -0.2em 3em,
    var(--infinity-trans) 0.2em 0.2em 3em;
}

.shot {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0.1em solid var(--shuriken);
  border-radius: 4%;
}
.shot:hover {
  border: 0.15em solid var(--moonraker);
}

/* PDF Layout */
.pdf-container {
  padding: 0.5rem;
  background: var(--caviar);

  display: flex;
  flex-direction: row;
  border-left: 0.01em solid var(--voila);
  border-right: 0.01em solid var(--voila);
}

.pdf-card {
  align-items: center;
  width: 100%;

  display: flex;
  flex-direction: column;
  flex: 1;

  min-width: 0; /* prevents flex children from overflowing */
  overflow: hidden;
}

.pdf-card iframe {
  width: 100%;
  background: var(--infinity);
  gap: 0.5rem;

  display: block;

  border: none;
}

.link-container {
  width: 100%;
  padding-top: 1.4rem;
  padding-bottom: 2.4rem;
  text-align: center;
  background: var(--caviar);
}

.pdf-card a {
  padding: 0.8rem 1.4rem;
  background: var(--moonraker);
  border: 0.1em solid var(--infinity);
  /* box-shadow:
    var(--moonraker) -0.08em 0.08em 0.2em,
    var(--moonraker) 0.08em -0.08em 0.2em; */

  width: 100%;

  border-radius: 1rem;

  text-align: center;
  text-decoration: none;
  font-weight: 800;

  color: var(--infinity);
  font-size: 1rem;
  font-family: "Lexend Giga", sans-serif;
}

.pdf-card a:hover {
  color: var(--moonraker);
  background: var(--infinity);
  border: 0.2em solid var(--moonraker);
}
.border {
  border-left: 0.01em solid var(--voila);
  border-right: 0.01em solid var(--voila);
}

/*-------------------- Responsive Design ----------------------*/
/* ------- desktop ------- */
@media only screen and (min-width: 900px) {
  .section-header {
    font-size: 2rem;
  }
  .item {
    padding: 0.4rem;
  }
  .img-container {
    display: flex;
  }
}

/* ------- tablet & mobile -------- */
@media only screen and (max-width: 899px) {
  .section-header {
    font-size: 1.6rem;
  }
  .list {
    padding-top: 1rem;
  }
  .img-container {
    margin: 1rem;
    /* background: var(--shuriken);

    border: 0.08rem solid var(--moonraker); */
  }
  .link:hover .shot {
    box-shadow: 0rem 0rem 0.6rem 0.1rem var(--moonraker);
  }
  .title {
    padding: 0.2rem;
    font-size: 1.4rem;
  }
  .description {
    padding: 0.4rem 1.4rem 1rem 1.4rem;
    font-size: 1rem;
  }
  .pdf-container {
    flex-direction: column;
  }
}
